*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
/* Custom CSS Properties */

:root {
  --ff-primary: 'Girassol', cursive;
  --ff-secondary: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  background-color: antiquewhite;
}

h1 {
  font-family: var(--ff-primary);
}

p {
  font-family: var(--ff-secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
